.btn-instagram {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 25px;
  background-color: #E1306C;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.btn-instagram:hover {
  background-color: #c1275a;
}
.imagen-tarot {
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
  margin: 20px auto;
  display: block;
}
body {
  font-family: 'Georgia', serif;
  background-color: #1b0d2f;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #f7c948;
}
.boton {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.boton:hover {
  background-color: #1ebc5a;
}
